<div class="jumbotron text-center">
	<h1>MEAN STACK AUT APP</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur accusamus esse ratione atque ut similique</p>
	<div>
		<a routerLink="/login" class="btn btn-success">Login</a> <a routerLink="/register" class="btn btn-danger">Register</a>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Lorem ipsum </h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quo, earum explicabo recusandae totam laborum odit dolorum, atque sit rem doloribus accusamus aspernatur voluptates mollitia sed beatae quos eos commodi.</p>
	</div>

		<div class="col-md-4">
		<h3>Lorem ipsum dol</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, aut tempora, doloribus numquam veniam obcaecati, eveniet eligendi rerum repellendus quam perspiciatis odit neque, ad aliquid. Doloribus consectetur, libero aspernatur eveniet!</p>
	</div>

		<div class="col-md-4">
		<h3>Lorem ipsum d.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorum nisi sit maxime facilis molestiae itaque repudiandae, ducimus, officiis reiciendis earum sapiente fugiat aspernatur, ut alias corrupti. Beatae, delectus, illum!</p>
	</div>
</div>